{% extends "base.html" %}

{% block title %}
Home - HarmonyHub
{% endblock %}

{% block content %}
<h1>HarmonyHub</h1>
<ul>
    {% for filename in filenames %}
    <li><a href="{{ url_for('download', filename=filename) }}">{{ filename }}</a></li>
    {% endfor %}
</ul>

<div class="container">
    <h2>Welcome to HarmonyHub</h2>
    <p>Explore the world of music with our app.</p>
    <p>login for a better experience!</p>
    {% for song in songs %}
        <p>{{ song.title }} - {{ song.artist }}</p>
    {% endfor %}
    <button onclick="location.href='{{ url_for('login') }}'" type="button"  class="centerButton">Login</button>
</div>
{% endblock %}

{% block css %}
{% endblock %}
