{% extends "base.html" %}

{% block title %}
Logout - HarmonyHub
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <!-- Logout Message -->
            <div class="card shadow mt-5">
                <div class="card-body text-center">

                    <!-- Logout Header -->
                    <h2 class="display-4 mb-4">Logout</h2>

                    <!-- Logout Confirmation Message -->
                    <p class="lead">You have been logged out successfully.</p>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
